body
{
	background-color:#e0dffd;
}
h1
{
        font-family:comic sans MS;
	text-align:center;
	margin-bottom: 20px;
		
}

button[id="btnsubmit"]
{
        background-color:transparent;
        margin-left: 590px;
        text-align:center;	
}

button[id="btnsubmitacc"]
{
        background-color:transparent;
        margin-left: 590px;
        text-align:center;	
}



